<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Bem vindes a nova era Nórdica!</h1>
        </div>
    </div>

    <div class="row mt-4 mb-4 w-100">
        <div class="col col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quis soluta molestiae suscipit, ea debitis eligendi tempore sit labore vitae! Quae quam pariatur iste? Omnis atque iure at ab nulla! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut laudantium sequi qui blanditiis voluptates nemo similique deleniti ratione delectus quod quas, veritatis rerum a incidunt quisquam recusandae sed consequatur magni!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, delectus aliquam. Nisi officia hic error quam tempora ex! Doloremque quidem tempore veniam quos ipsa! Magni fugit quis vel sunt ducimus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta asperiores laborum aut itaque, et molestiae similique, officiis eius omnis voluptate accusamus id nemo dicta tempore. Autem quae vero tempora cumque.
            </p>
        </div>
    </div>
</div>

    <div class="parallax"></div>

    <div class="row mt-5 mb-5 w-100">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" >Ver o feed</button>
        </div>
    </div>
