<div class="container w-100">

  <div class="row w-100 mt-5">
    <div class="col-md-12">
      <h1 class="text-monospace text-center"> Eaí, gamers! Aproveitem o melhor da nossa rede social!</h1>
    </div>
  </div>

  <div class="row w-100 mt-4 mb-4">
    <div class="col-md-12">
      <p class="text-justify text-monospace">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur delectus, sint consequatur, quibusdam laudantium perferendis fuga possimus, ipsa laboriosam architecto tenetur minus debitis error repellendus sapiente nostrum ad veniam minima? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi sapiente totam distinctio neque mollitia exercitationem suscipit repellat quod, veritatis id non magnam accusamus hic iure. Possimus impedit expedita nam omnis.  
      </p>
    </div>
  </div>
</div>

  <div class="parallax"></div>

  <div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
      <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Veja as nossas publicações!</button>
    </div>
  </div>