<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center" > 
        <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/lRUik7Q.jpg" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Kratos e Garoto</h5>
      <p class="card-text text-center text-monospace">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium exercitationem soluta dolor quia, blanditiis incidunt maiores possimus ad quis corporis quasi ea aspernatur velit doloribus quo dolore iusto vel maxime.</p>

      <a href="" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

      <a href="" class="btn btn-outline-dark mb-3 d-flex justify-content-center" target="_blank">GitHub</a>

    </div>
  </div>