<div class="container bg-gow">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h4 class="text-center fonte3 font-weight-bold text-light">LOGIN</h4>
    </div>
  </div>
  <div class="row mb-5 d-flex justify-content-center">
    <div class="col-md-6">
      <div>
        <div class="form-group fonte1 text-light font-weight-bold">
          <label for="exampleInputEmail1">Endereço de email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email" [(ngModel)]='userLogin.usuario'>
          <small id="emailHelp" class="form-text text-light font-weight-bold">Suas informações serão de uso confidencial.</small>
        </div>
        <div class="form-group fonte1 text-light font-weight-bold">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" [(ngModel)]='userLogin.senha'>
        </div>
        <div class="d-flex justify-content-center font-weight-bold text-light">
          <button type="submit" class="btn btn-success w-25 fonte1 font-weight-bold mb-2" (click)='entrar()'>ENTRAR</button>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- <div class="parallax"></div> -->